body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    padding: 16px;
    margin: 0;
}

#grid-container {
    height: 460px;
    width: 460px;
    background-color: grey;
}

#ui-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}