body {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#grid-container {
    height: 460px;
    width: 460px;
    background-color: grey;
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}